{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <h1>Inscrever para Projeto</h1>
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h4 class = "panel-title">Projeto</h4>
                </div>
            <div class = "panel-body">
                <div href = "#" class = "list-group-item">

                    <p>Nome: {{ object.nome }}</p>
                    <hr class="head-border">
                    <p>Descrição: {{ object.descricao }}</p>
                    <hr class="head-border">
                    <p>Local de trabalho: {{ object.local_trabalho }}</p>
                    <hr class="head-border">
                    <p>Jornada de trabalho: {{ object.duraco }}</p>
                    <hr class="head-border">
                    <p>Remuneração: {{ object.remuneracao }}</p>
                </div>
            </div>
            </div>


        {% if not inscrito %}

            <a href="{% url 'signin-freela' signin=freela.id %}" class="btn btn-default btn-lg">Inscrever</a>

        {% endif %}

    </div>
{% endblock %}
