<h1>Lista de Empregos</h1>
<form method="get" action="">
    <input type="text" name="q" placeholder="Pesquisar emprego" value="{{ request.GET.q }}">
    <button class="btn btn-default btn-lg" type="submit">Pesquisar</button>
</form>

<table>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Empresa</th>
			<th>Área de atuação</th>
			<th>Jornada de trabalho</th>
			<th>Salário</th>
		</tr>
	</thead>
	<tbody>
		{% for emprego in emprego %}
		<tr> 
			<td>{{emprego.nome}}</td>
			<td>{{emprego.descricao}}</td>
			<td>{{emprego.empresa}}</td>
			<td>{{emprego.area_atuacao}}</td>
			<td>{{emprego.jornada_trabalho}}</td>
			<td>{{emprego.salario}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
