<h1>Lista de Empregos</h1>


<table>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Empresa</th>
			<th>Área de atuação</th>
			<th>Jornada de trabalho</th>
			<th>Salário</th>
		</tr>
	</thead>
	<tbody>
		{% for emprego in lista_empregos %}
		<tr> 
			<td>{{emprego.nome}}</td>
			<td>{{emprego.descricao}}</td>
			<td>{{emprego.empresa}}</td>
			<td>{{emprego.area_atuacao}}</td>
			<td>{{emprego.jornada_trabalho}}</td>
			<td>{{emprego.salario}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
